{%  extends 'master.html' %}

{% block title %}
   Kategorije
{% endblock %}

{%  block content %}
    <h2>KATEGORIJE </h2>
    <br>

    <div>
        <h3>Raspodela oglasa po kategorijama:</h3>
        <canvas id="pie-chart"></canvas>
        <br>
        <h3>Sve kategorije:</h3>
        <table class="table">
          <thead style="background-color: #215987; color: #e5e1dc">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Naziv</th>
            </tr>
          </thead>
          <tbody>
            {% for k in kategorije %}
                <tr style="transform: rotate(0);">
                    <td>{{ k.id }}</td>
                    <td>{{ k.naziv }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>
        kita = function (){
            return 2
        }

        var config = {
          type: 'pie',
          data: {
            datasets: [{
              data: {{ data|safe }},
              backgroundColor: ['#32a852', '#a84432', '#3240a8', '#3277a8', '#3240a8']
            }],
            labels: {{ labels|safe }}
          },
          options: {
            responsive: true
          }
        };

        window.onload = function() {
          var ctx = document.getElementById('pie-chart').getContext('2d');
          window.myPie = new Chart(ctx, config);
        };

      </script>

{% endblock %}