{%  extends 'master.html' %}

{% block title %}
   Svi oglasi (home)
{% endblock %}

{%  block content %}
    <h2>SVI OGLASI </h2>
    <br>

    <div>
        <table class="table table-hover">
          <thead style="background-color: #215987; color: #e5e1dc">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Naslov</th>
                <th scope="col">Kategorija</th>
                <th scope="col">Mesto</th>
                <th scope="col">Datum dodavanja</th>
                <th scope="col">Korisnik</th>
            </tr>
          </thead>
          <tbody>
            {% for oglas in oglasi %}
                <tr style="transform: rotate(0);">
                    <td>{{ oglas.id }}</td>
                    <td>{{ oglas.naslov }}</td>
                    <td>{{ oglas.kategorija.naziv }}</td>
                    <td>{{ oglas.mesto }}</td>
                    <td>{{ oglas.datumDodavanja }}</td>
                    <td>{{ oglas.korisnik.username }}</td>

                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}