{% load static %}
<nav class="navbar navbar-expand-md navbar-light " style="background-color:  #e8ce0c">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
       <ul class="navbar-nav">
            <a class="nav-item">
                <a class="nav-link" style="font-size: 110%; " href="{% url 'oglasi_app:svi_oglasi' %}" >
                    <img src="{% static 'img/repairman.png' %}" width="22" height="22" class="d-inline-block align-top" alt="logo"/>
                    <b>OGLASI </b>
                </a>
            </a>
       </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                    <a class="nav-link" style="font-size: 110%" href="{% url 'oglasi_app:komentari' %}"><b>KOMENTARI</b></a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                    <a class="nav-link" style="font-size: 110%" href="{% url 'oglasi_app:kategorije' %}"><b>KATEGORIJE</b></a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                    <a class="nav-link" style="font-size: 110%" href="{% url 'oglasi_app:korisnici' %}"><b>KORISNICI</b></a>
            </li>
        </ul>
    </div>



</nav>
